.userInfoWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    min-width: 267px;
    color: #FFFFFF;
    white-space: nowrap;
    gap: 20px;
    position: relative;
    cursor: pointer;
}

.userName {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    min-width: 56px;
    text-align: center;
}

.arrow {
    display: flex;
    align-items: center;
}