.postcardContainer {
    display: flex;
    flex-direction: column;
    margin: 0 20px 30px;
    width: 266px;
}

.postCardPoster {
    width: 100%;
    height: 357px;
    border-radius: 5%;
    position: relative;
}

.postCardTitle {
    color: #FFFFFF;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin: 24px 0 4px;
    cursor: pointer;
}

.postCardGenre {
    color: #AFB2B6;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

.postCardRating {
    position: absolute;
    color: #FFFFFF;
    margin: 20px 0 0 20px;
    padding: 2px 8px;
    background: #00A340;
    border-radius: 6px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
}