.btn {
    background: black;
    color: white;
    padding: 16px 32px;
    border-radius: 2px;
    border: unset;
    cursor: pointer;
    white-space: nowrap;

    font-size: 18px;
    line-height: 24px;
    font-weight: 600;

    transition: 0.2s;
}

.primary {
    background: #7B61FF;
    border-radius: 10px;
}

.primary:hover {
    background: #917CFF;
}

.secondary {
    background: #E8E8E8;
    color: #313037;
}

.secondary:hover {
    background: #DADADA;
}

.btn + .btn {
    margin-top: 20px;
}