.avatar {
    width: 56px;
    height: 56px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #7B61FF;
    border-radius: 10px;
    color: #FFF;
}

.avatar img {
    width: 56px;
    height: 56px;
    border-radius: 10px;
}

.avatarLetters {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.05em;
    min-width: 56px;
}

.defaultAvatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 56px;
    height: 56px;
    background: #7B61FF;
    border-radius: 10px;
    fill: #FFF;
}