.slider__wrapper {
    padding-top: 20px;
    overflow: hidden;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic, .swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
      transform: none;
}

.sliderContent {
    display: flex;
}
