.searchInputWrapper {
    width: 100%;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.searchInput {
    width: 100%;
    max-height: 56px;
    height: 100%;
    border: unset;
    background: #323537;
    border-radius: 10px;
    padding: 0px 32px;
    color: #FFFFFF;
    font-size: 18px;
}

.searchInput::placeholder {
    color: #80858B;
    opacity: 0.5;
}

.searchInput:focus,
.searchInput:focus-visible {
    border: 2px solid #7B61FF;
}

.closeIcon {
    fill: #AFB2B6;
    width: 24px;
    height: 24px;
    padding: 6px 5px;
    position: absolute;
    right: 20px;
    top: 17px;
    cursor: pointer;
    z-index: 2;
}