.formWrapper {
    margin: 0 auto;
    max-width: 574px;
    width: 100%;
    max-height: 732px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
    gap: 16px;
    padding: 40px;
    background: #242426;
    border-radius: 10px;
    z-index: 3;
}

.title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #fff;
}

.topText {
    margin-bottom: 40px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.forgotPassword {
    font-size: 16px;
    text-decoration: none;
    color: #80858B;
}

.formInput + .formInput {
    /*margin-top: 40px;*/
}

.submitButton {
    width: 100%;
    margin-top: 32px;
}

.formWrapper label + label {
    margin-top: 40px;
}

.bottomText {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 24px;
}

.text {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    gap: 0.5ch;
    font-weight: 500;
}

.text a {
    color:#7B61FF;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.link {
    text-decoration: none;
    color:#7B61FF
}