.formWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1186px;
    width: 100%;
    height: 100%;
    gap: 40px;
    padding-top: 56px;
}

.contentBlock {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: flex-end;
    background: #242426;
    border-radius: 10px;
    padding: 40px;
}

.topText {
    padding-bottom: 16px;
    text-align: left;
    color: #FFFFFF;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
}

.contentBlock div {
    max-width: 533px;
}

.contentBlock input {
    font-family: 'Exo 2';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.themeTopText {
    font-family: 'Exo 2';
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.themeText {

    font-family: 'Exo 2';
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #AFB2B6;
}

.contentBlockTheme {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
    background: #242426;
    border-radius: 10px;
    padding: 40px;
}

.textBlock {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.buttonsBlock {
    height: 56px;
    gap: 40px;
    display: flex;
    justify-content: flex-end;
}

.contentBlockWhite {
    background: #666666;
}